.container {
    padding: 16px;
    display: flex;

    justify-content: center;

  }

.inputs{
    margin : 10px;

   

}
.button {
    border-radius: 3px;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    
  }  
